h1 {
  font-size: 2.4em;
  text-align: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  margin: 3%;
}

.example-full-width {
  width: 100%;
}

.contato {
  display: flex;
  justify-content: center;
}

.infoUteis {
  margin: 3%;
  padding-top: 1%;
}

.item {
  font-size: 1.1em;
}

.infoUteis i {
  margin: 5px;
  font-size: 1.7em;
}

button {
  background-color: rgb(113, 89, 193) !important;
  color: white;
}

@media screen and (max-width: 886px) {
  .contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .infoUteis {
    text-align: center;
  }
}
