<section>
  <h1>Contato</h1>
  <div class="contato">
    <div class="infoUteis">
      <p>
        <i class="material-icons">place</i>
        <font class="item">Osasco, São Paulo - Brasil</font>
      </p>
      <p>
        <i class="material-icons">phone</i>
        <font class="item">+55 (11) 94318-6727</font>
      </p>
      <p>
        <i class="material-icons">email</i>
        <font class="item">vasconcellosdefreitas@outlook.com</font>
      </p>
    </div>

    <!--<form class="form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Escreva seu comentário"></textarea>
      </mat-form-field>
      <a href="#">
          <i class="material-icons">send</i>
      </a>
    </form>-->
  </div>
</section>
