<div class= "sobre">
  <h1>Resumo</h1>

  <div class="textoResumo">
    <p>Atuação na área de tecnologia da informação, com foco em desenvolvimento de software com tecnologias
    atuais do mercado, sempre seguindo padrões de projetos atuais e trabalhando em equipes
    dinamicamente com metodologias ágeis.</p>
  </div>
  <h1>Experiência</h1>
</div>

<div class="content-timeline">
  <div class="timeline">
    <div class="container left">
      <div class="content">
        <h4>Empresa: Indra | Minsait</h4>
        <h5>Analista de sistemas Junior – 09/2018 à Atual.</h5>
        <p>
          Prestando serviços no Banco Santander. <br>
          Atividades: Desenvolver melhorias em microserviços Spring boot, aplicações SPA com Angular 5,
          trabalhando com banco de dados Oracle, implementar payloads na ZUP e fluxos no IBM Integration Bus.
        </p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h4>Empresa: Poli-Nutri Alimentos S.A</h4>
        <h5>Técnico de Informática I – 01/2016 à 08/2018.</h5>
        <p>
          Atividades: Fornecer suporte técnico ao ERP Sapiens, desenvolvimento de relatórios e regras,
          desenvolvimento de software em java, desktop, web e aplicativos mobile.
          Tecnologias: Java EE, Java SE, JSF com Primefaces.
        </p>
      </div>
    </div>
    <div class="container left">
      <div class="content">
        <h4>Empresa: Poli-Nutri Alimentos S.A</h4>
        <h5>Jovem Aprendiz – 05/2014 a 12/2015.</h5>
        <p>
          Atividades: Fornecer suporte técnico ao ERP Sapiens, desenvolvimento de relatórios e regras,
          desenvolvimento de software em java, desktop, web e aplicativos mobile.
          Tecnologias: Java EE, Java SE, JSF com Primefaces.
        </p>
      </div>
    </div>
  </div>
</div>






