h1 {
  font-size: 2.4em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 130px;
  padding-left: 130px;
}

@media screen and (max-width: 886px) {
  main {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.artigos {
  display: flex;
  width: 100%;
}

.artigosSpecific {
  margin: 1%;
  border-radius: 5px;
}

.demo-card-wide.mdl-card {
  width: 350px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('/assets/images/java_logo.png') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.title:hover {
  font-size: 2.8em;
}

.arrow {
  font-size: 3em;
  margin: 10px;
  color: rgba(0,0,0,.87);
}

.arrow:hover {
  font-size: 4em;
}

.link {
  align-self: flex-start;
}
