<div class="sobre">
  <div class="sobreMain">
    <h1> Cadastro </h1>
    <form class="formulario" [formGroup]="formUser" (ngSubmit)="onSubmit()">
      <section>
        <mat-form-field >
          <input matInput placeholder="Nome" name="nome" formControlName="nome" required>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field>
          <input matInput placeholder="Função"  formControlName="cargo" required>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field appearance="fill" >
          <mat-label>Resumo</mat-label>
          <textarea matInput placeholder="Resumo" formControlName="resumo" required></textarea>
        </mat-form-field>
      </section>
      <section>
        <mat-form-field >
          <input matInput placeholder="Empresa"  formControlName="empresa_nome" required>
        </mat-form-field>

        <mat-form-field >
          <input matInput placeholder="Cargo"  formControlName="empresa_cargo" required>
        </mat-form-field>

        <mat-form-field >
          <input matInput type="date" placeholder="Data Inicio"  formControlName="empresa_inicio" required>
        </mat-form-field>

        <mat-form-field >
          <input matInput type="date" placeholder="Data Fim"  formControlName="empresa_fim" required>
        </mat-form-field>

        <div class="divWithIcon">
          <label>Adicionar mais uma empresa:</label>
          <mat-chip (click)="addEmpresa()" selected><i class="material-icons add">add_circle</i></mat-chip>
        </div>
      </section>

      <section class="mat-table-subject">
        <table mat-table  [dataSource]="empresaSubject" class="mat-elevation-z8">

          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef> Nome da empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="cargo">
            <th mat-header-cell *matHeaderCellDef> Cargo </th>
            <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
          </ng-container>

          <ng-container matColumnDef="inicio">
            <th mat-header-cell *matHeaderCellDef> Data inicio </th>
            <td mat-cell *matCellDef="let element"> {{element.inicio}} </td>
          </ng-container>

          <ng-container matColumnDef="fim">
            <th mat-header-cell *matHeaderCellDef> Data final </th>
            <td mat-cell *matCellDef="let element"> {{element.fim}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="colunasGridEmpresa"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasGridEmpresa;"></tr>
        </table>
      </section>

      <section>
        <mat-form-field  appearance="fill">
          <mat-label>Atividades</mat-label>
          <textarea matInput placeholder="Tarefas" formControlName="tarefas" required></textarea>
        </mat-form-field>
      </section>
      <section class="skillFlex">
        <mat-accordion class="row">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                habilidades
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput placeholder="Nome" formControlName="habilidades_nome">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Nivel</mat-label>
              <mat-select formControlName="habilidades_nivel">
                <mat-option *ngFor="let nivell of niveis" [value]="nivell.nivel">
                  {{nivell.nivel}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true"
                              (closed)="panelOpenState = false">
          </mat-expansion-panel>
        </mat-accordion>
        <mat-chip (click)="addSkill()" selected><i class="material-icons add">add_circle</i> </mat-chip>
      </section>
      <section class="mat-table-subject">
        <table mat-table  [dataSource]="skillSubject" class="mat-elevation-z8">

          <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef> Nome da Habilidade </th>
            <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
          </ng-container>

          <ng-container matColumnDef="Nivel">
            <th mat-header-cell *matHeaderCellDef> Nivel da maturidade </th>
            <td mat-cell *matCellDef="let element"> {{element.nivel}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="colunasGridNivel"></tr>
          <tr mat-row *matRowDef="let row; columns: colunasGridNivel;"></tr>
        </table>
      </section>
      <section class="buttons">
        <label class="fileContainer">
          Foto <br>
          <i class="material-icons icons ">cloud_upload</i>
          <input type="file" (change)="inputFileChangeFoto($event)" formControlName="foto"/>
        </label>
        <label class="fileContainer">
          Curriculo <br>
          <i class="material-icons icons ">cloud_upload</i>
          <input type="file" (change)="inputFileChangeCurriculo($event)" formControlName="curriculo"/>
        </label>
      </section>
      <section class="buttons">
        <button class="save" type="submit" [disabled]="formUser.invalid"> Salvar</button>
        <button class="sair" [routerLink]="['']"> Sair</button>
      </section>
    </form>

  </div>
  <table mat-table  [dataSource]="usuarioSubject" class="mat-elevation-z8">
      <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef layout-align="center center"> Nome </th>
          <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
        </ng-container>

        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="icons-table">
              <a (click)="editarUsuario(element)">
                <i class="material-icons edit">edit</i>
              </a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="deletar">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <div class="icons-table">
              <a  (click)="removeUsuario(element)">
                <i class="material-icons delete">delete</i>
              </a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="colunasGridUsario"></tr>
        <tr mat-row *matRowDef="let row; columns: colunasGridUsario;"></tr>
    </table>
</div>
