<main *ngFor="let user of usuario">
  <a *ngIf="arrow" (click)="arrowFalse()">
    <i class="material-icons arrow">keyboard_backspace</i>
  </a>
  <div class="sobre">
    <a (click)="arrowTrue()">
      <h1 class="title">Resumo</h1>
    </a>
    <div class="textoResumo">
      <p>{{user.resumo}}</p>
    </div>
    <h1>Experiência</h1>
  </div>

  <div class="content-timeline" *ngFor="let emp of empresas">
    <div class="timeline">
      <div class="container {{emp.lado}}">
        <div class="content">
          <h4>Empresa: {{emp.nome}}</h4>
          <h5>{{emp.cargo}} – {{emp.inicio}} {{emp.fim}}.</h5>
          <p>
            Atividades: {{emp.atividades}}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="skills">
    <h1>Habilidades</h1>

    <div class="skillLinguage">
      <p>Java</p> <p>70%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="70"></mat-progress-bar>

    <div class="skillLinguage">
      <p>Spring Framework</p> <p>40%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="40"></mat-progress-bar>

    <div class="skillLinguage">
      <p>JavaScript</p> <p>60%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="60"></mat-progress-bar>

    <div class="skillLinguage">
      <p>TypeScript</p> <p>70%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="70"></mat-progress-bar>

    <div class="skillLinguage">
      <p>Angular</p> <p>75%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="75"></mat-progress-bar>

    <div class="skillLinguage">
      <p>Git</p> <p>50%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="50"></mat-progress-bar>

    <div class="skillLinguage">
      <p>Oracle</p> <p>40%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="40"></mat-progress-bar>

    <div class="skillLinguage">
      <p>Node JS</p> <p>40%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="40"></mat-progress-bar>

    <div class="skillLinguage">
      <p>Scrum</p> <p>40%</p>
    </div>
    <mat-progress-bar class="mdl-color-blue" mode="determinate" value="40"></mat-progress-bar>

  </div>

  <div class="cv">
    <h1>Curriculo</h1>
    <p>Se você quiser saber de mais detalhes, pode baixar meu curricúlo atualizado no icone abaixo:</p>
    <a title="Clique aqui para download" target="_blank" href="https://drive.google.com/open?id=1WYlxlNi51wv0r6okXomlfTZf_jbQLVYI">
      <i class="material-icons">
        cloud_download
      </i>
    </a>
  </div>

</main>





