header, main {
  font-family: 'Roboto', sans-serif;
}

.sectionMain, .mdl-layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #FAFAFA;
}

.page-content, app-sobre, app-projetos, app-artigos, app-contato {
  width: 95%;
  max-width: 1500px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-radius: 5px;
}

.mdl-layout {
  position: fixed;
  background-color: #FAFAFA;
}
.mdl-layout__header {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 100%;
}
.mdl-navigation__link {
  font-size: 20px;
  color: white;
  opacity: 100;
}
.mdl-navigation__link:hover {
  text-shadow: 0 0 4px white;
  padding-bottom: 3px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.home:hover {
  background-color: white;
  color: rgb(113, 89, 193);
}

.cabecalho-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.foto-home {
  height: 200px;
  border-radius: 50%;
  margin-top: 7%;
  margin-bottom: 2%;
  box-shadow: 0 10px 10px 0px #888888;
}
h1 {
  font-weight: bold;
  font-size: 3em;
}
.subtitulo-principal {
  font-size: 1.5em;
}
.lingaguens {
   -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}
.foto-linguagem {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-animation: aparece 2s;
          animation: aparece 2s;
}
.angular {
  top: 10%;
  left: 20%;
}
.html {
  top: 45%;
  left: 5%;
}
.java {
  top: 60%;
  left: 20%;
}
.javascript {
  top: 10%;
  left: 70%;
}
.json {
  top: 50%;
  left: 65%;
}
.sql {
  top: 70%;
  left: 80%;
}
.tags {
  top: 30%;
  left: 90%;
}
.docker {
  top: 40%;
  left: 25%;
}

@media screen and (max-width: 886px) {
  .mdl-layout-title, .media {
    left: -99%;
  }
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-item {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 5px;
  }
  .mdl-layout__header-row {
    padding: 3px;
  }
  .foto-home {
    height: 150px;
    border-radius: 50%;
    margin-top: 7%;
    margin-bottom: 2%;
    box-shadow: 0 10px 10px 0px #888888;
  }
}

@media screen and (max-width: 640px) {
  .mdl-navigation__link {
    padding: 10px
  }
  .mdl-navigation__link {
    font-size: 1.3em;
  }
  .foto-home {
    height: 150px;
    border-radius: 50%;
    margin-top: 7%;
    margin-bottom: 2%;
    box-shadow: 0 10px 10px 0px #888888;
  }
}

@media screen and (max-width: 375px) {
  .mdl-navigation__link {
    padding: 5px
  }
  .mdl-navigation__link {
    font-size: 1.1em;
  }
  .flex-item {
    align-items: center;
  }
  h1 {
    font-weight: bold;
    font-size: 2em;
  }
  .foto-home {
    height: 150px;
    border-radius: 50%;
    margin-top: 7%;
    margin-bottom: 2%;
    box-shadow: 0 10px 10px 0px #888888;
  }
}
