<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color-blue">
    <div class="mdl-layout__header-row flex">

      <span class="mdl-layout-title">
        <a class="mdl-navigation__link home" href="#homeId">Home</a>
      </span>

      <nav class="mdl-navigation mdl-layout--large-screen-only flex-item">
        <a class="mdl-navigation__link" [ngx-scroll-to]="'#sobreId'">Sobre</a>
        <a class="mdl-navigation__link" [ngx-scroll-to]="'#projetosId'">Projetos</a>
        <a class="mdl-navigation__link" [ngx-scroll-to]="'#artigosId'">Artigos</a>
        <a class="mdl-navigation__link" [ngx-scroll-to]="'#contatoId'">Contato</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content" id="homeId">
    <div class="page-content">
      <div class="cabecalho-principal">
        <img class="foto-home" src="assets/images/perfil.jpeg" alt="Foto de Felipe">
        <h1>Felipe Vasconcellos</h1>
        <p class="subtitulo-principal">Analista de Sistemas</p>
        <div class="lingaguens">
          <img class="foto-linguagem angular media" src="assets/images/angular.png">
          <img class="foto-linguagem html media" src="assets/images/html.png">
          <img class="foto-linguagem java media" src="assets/images/java.png">
          <img class="foto-linguagem javascript media" src="assets/images/javascript.png">
          <img class="foto-linguagem json media" src="assets/images/json.png">
          <img class="foto-linguagem sql media" src="assets/images/slq.png">
          <img class="foto-linguagem tags media" src="assets/images/tags.png">
          <img class="foto-linguagem docker media" src="assets/images/docker.png">
        </div>
      </div>
    </div>
    <section class="sectionMain">
      <app-sobre id="sobreId"></app-sobre>
      <app-projetos id="projetosId"></app-projetos>
      <app-artigos id="artigosId"></app-artigos>
      <app-contato id="contatoId"></app-contato>
    </section>
  </main>
</div>
