<section>
  <a href="#" routerLink="/contato">
    <h1 class="title">Contato</h1>
  </a>

  <div class="contato">
    <div class="infoUteis">
      <p>
        <i class="material-icons">place</i>
        <font class="item">Osasco, São Paulo - Brasil</font>
      </p>
      <p>
        <i class="material-icons">phone</i>
        <font class="item">+55 (11) 94318-6727</font>
      </p>
      <p>
        <i class="material-icons">email</i>
        <font class="item">vasconcellosdefreitas@outlook.com</font>
      </p>
    </div>

    <form class="form" [formGroup]="formContact">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nome" formControlName="nome">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="E-mail" formControlName="email" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Escreva seu comentário" formControlName="comment" ></textarea>
      </mat-form-field>
      <button mat-button>Enviar</button>
    </form>
  </div>
</section>
