<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color-red">
    <div class="mdl-layout__header-row flex">

      <span class="mdl-layout-title">
        <a class="mdl-navigation__link home" href="#">Home</a>
      </span>

      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" [routerLink]="['sobre-admin']">Sobre</a>
        <a class="mdl-navigation__link" href="#">Projetos</a>
        <a class="mdl-navigation__link" href="#">Artigos</a>
        <a class="mdl-navigation__link" href="#">Contato</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <section class="sectionMain">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
