/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.mdl-color-red {
  background-color: #c00;
}

html, body {
  height: 100%;
  min-height: 100%;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

h1 {
  color: rgba(0,0,0,.87);
}
