/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mdl-color-blue {
  background-color: rgb(113, 89, 193) !important;
}

.mdl-color-red {
  background-color: #c00;
}

  html, body {
    height: 100%;
    min-height: 100%;
  }
