<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row flex">

      <span class="mdl-layout-title">
        <a class="mdl-navigation__link home" href="#">Home</a>
      </span>

      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="#sobreId">Sobre</a>
        <a class="mdl-navigation__link" href="#">Projetos</a>
        <a class="mdl-navigation__link" href="#">Artigos</a>
        <a class="mdl-navigation__link" href="#">Contato</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="cabecalho-principal">
        <img class="foto-home" src="/assets/perfil.jpeg" alt="Foto de Felipe">
        <h1>Felipe Vasconcellos</h1>
        <p class="subtitulo-principal">Analista de Sistemas</p>
        <div class="lingaguens">
          <img class="foto-linguagem angular" src="/assets/angular.png">
          <img class="foto-linguagem html" src="/assets/html.png">
          <img class="foto-linguagem java" src="/assets/java.png">
          <img class="foto-linguagem javascript" src="/assets/javascript.png">
          <img class="foto-linguagem json" src="/assets/json.png">
          <img class="foto-linguagem sql" src="/assets/slq.png">
          <img class="foto-linguagem tags" src="/assets/tags.png">
          <img class="foto-linguagem docker" src="/assets/docker.png">
        </div>
      </div>
    </div>
  <app-sobre id="sobreId"></app-sobre>
  </main>
</div>
